# ===============================
# Python Cache
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db



# ===============================
# Model Artifacts
# ===============================
*.h5
*.pt
*.pth
checkpoints/
models/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Build Files
# ===============================
build/
dist/
*.egg-info/


# ===============================
# Test / Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/
# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/